[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
furl = "*"
ansicolors = "*"
"beautifulsoup4" = "*"
pyotp = "*"
botocore = "*"

[dev-packages]
ipython = "*"
pylint = "*"
yapf = "*"
sphinx = "*"
requests-mock = "*"
nose = "*"
twine = "*"
wheel = "*"
guzzle-sphinx-theme = "*"
